<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flarmcfg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <flarmcfg.Properties.Settings>
            <setting name="PNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="CPNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="TPFILE" serializeAs="String">
                <value>TP.csv</value>
            </setting>
            <setting name="GLFILE" serializeAs="String">
                <value>GL.csv</value>
            </setting>
            <setting name="TPName" serializeAs="String">
                <value>Short Code</value>
            </setting>
            <setting name="TPDesc" serializeAs="String">
                <value>Full Name</value>
            </setting>
            <setting name="TPCoord" serializeAs="String">
                <value>Lat/Long to WGS84</value>
            </setting>
            <setting name="CSVAUTOLOAD" serializeAs="String">
                <value>True</value>
            </setting>
        </flarmcfg.Properties.Settings>
    </userSettings>
</configuration>